<div class="container">
    <div class="row parent-row">
        <div class="col-md-6">
            <div [style.width]="animationWidth" [style.height]="animationHeight">
                <ng-lottie [options]="options"></ng-lottie>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-code"></i>Desenvolvimento de APIs e aplicações MVC</p>
                    <p>Laravel, .NET 6</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-database"></i>Entity Framework</p>
                    <p>Mapeamento objeto-relacional</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-docker"></i>Containerização e criação/ gerenciamento de ambientes</p>
                    <p>Docker, Docker Compose, Portainer</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-database"></i>Bancos de dados</p>
                    <p>MySQL (phpMyAdmin), PostgreSQL (pgAdmin), SQL Server (SQL Server Management Tool)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-globe"></i>Desenvolvimento web e mobile</p>
                    <p>ReactJS, Angular, React Native, HTML, CSS, JavaScript</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-desktop"></i>Bootstrap</p>
                    <p>Criação de interfaces responsivas</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-database"></i>Criação e otimização de consultas em bancos de dados</p>
                    <p>MySQL, PostgreSQL, SQL Server</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="titleskill"><i class="fa fa-users"></i>Colaboração em projetos pessoais e acadêmicos</p>
                    <p>Boas práticas de desenvolvimento e trabalho em equipe</p>
                </div>
            </div>
        </div>
    </div>
</div>
